<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900" id="section1">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 dark:text-gray-200 section-heading">About</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
                Mission-driven full stack developer with a passion for thoughtful UI design, collaboration, and teaching.
            </p>
        </div>
    </div>
</section>
<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container px-10 mx-auto pb-20 flex flex-col">
        <div class="lg:w-4/6 mx-auto">
            <div class="flex flex-col sm:flex-row mt-3">
                <div class="sm:w-3/3 sm:pl-8 sm:mt-0 text-center sm:text-left">
                    <p class="leading-relaxed text-lg mb-4 dark:text-gray-200">
                        I’ve always sought out opportunities and challenges that are meaningful to me. Although my professional path has taken many twists and turns, I've never stopped engaging my passion to help others and solve problems.
                        </br></br>
                        As a Software Engineer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
