<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900" id="section5">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 dark:text-gray-100 font-medium text-gray-900 section-heading">Achievements</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
            </p>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 px-10 body-font overflow-hidden bg-white ">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="shadow-2xl rounded-xl lg:w-2/2 w-full px-6 py-6 mt-6 lg:mt-0 hover:shadow-lg">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">Saggezza</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">Minimum Viable Product (2019)</h1>
                <span class="leading-relaxed list-disc dark:text-gray-100">
                    Won second prize in Minimum Viable Product (MVP) Event by Saggezza (2019)
                </span>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 px-10 body-font overflow-hidden bg-white">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="shadow-2xl rounded-xl lg:w-2/2 w-full px-6 py-6 mt-6 lg:mt-0 hover:shadow-lg">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">GeeksForGeeks</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">Technical Scripter (2019)</h1>
                <span class="leading-relaxed list-disc dark:text-gray-100">
                    Winner in online "Technical Scripter" Event by GeeksForGeeks (2019)
                </span>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 px-10 body-font overflow-hidden bg-white ">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="shadow-2xl rounded-xl lg:w-2/2 w-full px-6 py-6 mt-6 lg:mt-0 hover:shadow-lg">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">MNNIT Allahabad</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">CULRAV (2017)</h1>
                <span class="leading-relaxed list-disc dark:text-gray-100">
                    Won first prize in SPANDAN organized in "CULRAV 2017" held at MNNIT Allahabad (2017)
                </span>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 px-10 body-font overflow-hidden bg-white ">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="shadow-2xl rounded-xl lg:w-2/2 w-full px-6 py-6 mt-6 lg:mt-0 hover:shadow-lg">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">Code Chef</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">Snackdown (2017)</h1>
                <span class="leading-relaxed list-disc dark:text-gray-100">
                    Participated in Code Chef's Annual Multi Round Programming Competition "Snackdown" (2017)
                </span>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 px-10 body-font overflow-hidden bg-white ">
    <div class=" container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="shadow-2xl rounded-xl lg:w-2/2 w-full px-6 py-6 mt-6 lg:mt-0 hover:shadow-lg">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">SIGMATECH INFO PVT. LTD.</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">PHP workshop (2016)</h1>
                <span class="leading-relaxed list-disc dark:text-gray-100">
                    Completed PHP workshop from SIGMATECH INFO PVT. LTD. (2016)
                </span>
            </div>
        </div>
    </div>
</section>