<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 body-font bg-white" id="section6">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 dark:text-gray-100 font-medium text-gray-900 section-heading">Education</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
            </p>
        </div>
    </div>
</section>
<div class="mx-auto flex flex-col px-5 pb-12 justify-center items-center bg-white dark:text-gray-400 dark:bg-gray-900">
    <img class="lg:w-1/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="~/lib/images/220px-Motilal_Nehru_National_Institute_of_Technology_Allahabad_logo.png">
    <h2 class="text-xs text-green-600 tracking-widest font-medium title-font mb-1">2016 - 2019</h2>
    <h2 class="text-xs text-green-600 tracking-widest font-medium title-font mb-1">CPI: 8.18</h2>
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium dark:text-white">Master of Computer Application</h1>
        <p class="mb-8 leading-relaxed">Motilal Nehru National Institute of Technology, Allahabad</p>
    </div>
</div>
<div class="mx-auto flex flex-col px-5 justify-center items-center bg-white dark:text-gray-400 dark:bg-gray-900">
    <img class="lg:w-1/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="~/lib/images/APEX.jpg">
    <h2 class="text-xs text-green-600 tracking-widest font-medium title-font mb-1">2012 - 2015</h2>
    <h2 class="text-xs text-green-600 tracking-widest font-medium title-font mb-1">Percentage: 67.44%</h2>
    <div class="w-full md:w-2/3 flex flex-col mb-16 items-center text-center">
        <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium dark:text-white">Bachelor of Computer Application</h1>
        <p class="mb-8 leading-relaxed">Apex Institute of Management & Science, Jaipur</p>
    </div>
</div>