<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900" id="section3">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 dark:text-gray-100 section-heading">Projects</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
                Worked on the various projects.
            </p>
        </div>
    </div>
</section>
<section class="text-gray-600 px-10 body-font overflow-hidden bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container px-5  pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-2/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">Saggezza</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">List Services (09/2019 - Present)</h1>
                <ul class="leading-relaxed list-disc dark:text-gray-100">
                    <li>
                        List Services is a Web and Console application based on ASP .Net Core to facilitate Upload large files and Console Application used to process those files.
                    </li>
                    <li>
                        Followed TDD methodology & SOLID principles in the development of the application.
                    </li>
                    <li>
                        Followed MVC Pattern & an object-oriented(OOJS) approach in the front-end using JQuery.
                    </li>
                    <li>
                        Technology used :- ASP .Net Core, C#, Microsoft SQL Server, JQuery, Html, CSS, MVC Architecture along with TDD and SOLID principles.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 px-10 body-font overflow-hidden bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-2/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">Saggezza</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">Quantum (05/2019 - 08/2019)</h1>
                <ul class="leading-relaxed list-disc dark:text-gray-100">
                    <li>
                        Quantum is a Web application, used to process the billing and generates the report.
                    </li>
                    <li>
                        Worked on the design and development of the application adhering to SOLID principles.
                    </li>
                    <li>
                        Technology used :- ASP .Net, C# ,Microsoft SQL Server, JQuery, Html, CSS, MVC Architecture along with TDD and SOLID principles
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 px-10 body-font overflow-hidden bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-2/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">Saggezza</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">International (01/2019 - 04/2019)</h1>
                <ul class="leading-relaxed list-disc dark:text-gray-100">
                    <li>
                        International Project is a web application which is for create label and for track parcel.
                    </li>
                    <li>
                        Technology Used :- ASP .net, SQL Server, Javascript, Html, CSS, MVC Architecture along with TDD and SOLID principles.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>