<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 body-font bg-white" id="section9">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 dark:text-gray-100 font-medium text-gray-900 section-heading">Resume</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
            </p>
        </div>
    </div>
</section>
<section class="text-gray-400 bg-white dark:bg-gray-900 dark:text-gray-400 body-font ">
    <div class="container px-5 mx-auto ">
        <div class="flex flex-wrap sm:-m-4 -mb-10 -mt-4 justify-center items-center">
            <iframe width="760" height="1020" frameborder="0" allow="autoplay"
                    src="https://drive.google.com/file/d/17jVWTmQjO3jza0VtWyYMgoTo6Yp7qdM5/preview"></iframe>
        </div>
        </div>
</section>