@{
    ViewData["Title"] = "Devanshu Agarwal";
}

@{

    var skills = new List<string>(){
        "HTML", "CSS", "Bootstrap", "LESS", "Javascript",
         "jQuery", "MVC", "C#", ".NET", "ASP.NET Core", "Data Structures",
        "Algorithms", "SQL Server" ,"EF Core", "JQuery",
        "JSON", "XML", "SOLID" ,"TDD" ,"WebAPI", "XUnit",
        "NUnit", "Unit of Work", "Java(Basic)",
        "MVC Architecture", "Alexa Development", "SignalR"
    };

}

<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded" alt="hero" src="~/lib/images/Picture.jpg">
        </div>
        <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">

            <span class="relative inline-flex rounded-md">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 dark:text-white">
                    Devanshu Agarwal
                </h1>
                <span class="flex absolute h-3 w-3 top-0 -right-5">
                    <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-purple-400 dark:bg-white opacity-75"></span>
                    <span class="relative inline-flex rounded-full h-3 w-3 bg-purple-500 dark:bg-white"></span>
                </span>
            </span>
            <h5 class="title-font sm:text-2xl text-3xl mb-4 font-small text-gray-600 dark:text-gray-300">
                Software Engineer/Full Stack Developer
            </h5>
            <p class="mb-8 leading-relaxed dark:text-gray-200">
                Currently working as Software Engineer at Saggezza, Chennai.</br>
                I developed interest in Development such as Web Development, Software Development.
                With time I developed more interest in algorithmic programming. I enjoy solving Problem in the field of data structures
                and algorithms and intrigued by it's application in the field of software programming and quantitative finance.
                I love to help people who want to get started with career in Computer Science in all fields.
                I have learned a lot from my seniors and hope to the do the same for juniors as well.</br>
                I want to make things that make a difference :)
            </p>
            <div class="flex justify-center">
                <a class="no-underline text-current" href="#"><i class="fab fa-linkedin text-indigo-500 text-5xl mr-4"></i></a>
                <a class="no-underline text-current" href="#"><i class="fab fa-github text-5xl dark:text-white"></i></a>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900" id="section1">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 dark:text-gray-200 section-heading">About</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
                Mission-driven full stack developer with a passion for thoughtful UI design, collaboration, and teaching.
            </p>
        </div>
    </div>
</section>
<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container px-10 mx-auto pb-20 flex flex-col">
        <div class="lg:w-4/6 mx-auto">
            <div class="flex flex-col sm:flex-row mt-3">
                <div class="sm:w-3/3 sm:pl-8 sm:mt-0 text-center sm:text-left">
                    <p class="leading-relaxed text-lg mb-4 dark:text-gray-200">
                        I’ve always sought out opportunities and challenges that are meaningful to me. Although my professional path has taken many twists and turns — from touring and recording artist, to employee of the year at a non-profit, to dean's scholar at UPenn, to small business owner and entrepreneur — I've never stopped engaging my passion to help others and solve problems.
                        </br></br>
                        As a Software Engineer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900" id="section2">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 dark:text-gray-100 section-heading">Experience</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
                Software Professional with 2+ Years of hands on experience in Microsoft .NET Web Technologies
            </p>
        </div>
    </div>
</section>
<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="flex relative  pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-green-500 text-white relative z-10 title-font font-medium text-sm">1</div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-2xl inline-flex items-center justify-center">
                    <img class="rounded-2xl" alt="hero" src="~/lib/images/SLogo.png">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 dark:text-gray-100 mb-1 text-xl">Associate Software Engineer</h2>
                    <h2 class="font-medium title-font text-gray-400 dark:text-gray-300 mb-1 text-md">Saggezza (06/2019 - Present)</h2>
                    <ul class="list-disc dark:text-gray-200">
                        <li>
                            Hands-on experience in ASP.NET Core MVC & EF Core.
                        </li>
                        <li>
                            Worked in Logistics Domain.
                        </li>
                        <li>
                            Supported software engineering projects in Agile work
                            environment.
                        </li>
                        <li>
                            Debugged code and located root causes of problems by
                            reviewing configuration files and logs.
                        </li>
                        <li>
                            Evaluated function, performance and design compliance
                            of every product against design standards and customer
                            needs.
                        </li>
                        <li>
                            Got the appreciation mail from the client.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-green-500 text-white relative z-10 title-font font-medium text-sm">2</div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-2xl inline-flex items-center justify-center">
                    <img class="rounded-2xl" alt="hero" src="~/lib/images/SLogo.png">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 dark:text-gray-100 mb-1 text-xl">Intern</h2>
                    <h2 class="font-medium title-font text-gray-400 dark:text-gray-300 mb-1 text-md">Saggezza (01/2019 - 05/2019)</h2>
                    <ul class="list-disc dark:text-gray-200">
                        <li>
                            Worked in Logistics Domain.
                        </li>
                        <li>
                            Writing new code or modifying existing code based on situation.
                        </li>
                        <li>
                            Understanding code changes
                        </li>
                        <li>
                            Sharing report, reporting defect to development team.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex relative pt-10 pb-20 sm:items-center md:w-2/3 mx-auto">
            <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
            </div>
            <div class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-green-500  text-white relative z-10 title-font font-medium text-sm">3</div>
            <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                <div class="flex-shrink-0 w-24 h-24 bg-indigo-100 text-indigo-500 rounded-2xl inline-flex items-center justify-center">
                    <img class="rounded-2xl h-24" alt="hero" src="~/lib/images/GFG.PNG" style="filter:saturate(2);">
                </div>
                <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                    <h2 class="font-medium title-font text-gray-900 dark:text-gray-100 mb-1 text-xl">Content Writer(Intern)</h2>
                    <h2 class="font-medium title-font text-gray-400 dark:text-gray-300 mb-1 text-md">GeeksforGeeks (10/2017 - 12/2018)</h2>
                    <ul class="list-disc  dark:text-gray-200">
                        <li>
                            I've written 80+ articles based on Data structure and
                            algorithms which is live on their website.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900" id="section3">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 dark:text-gray-100 section-heading">Projects</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
                Worked on the various projects.
            </p>
        </div>
    </div>
</section>
<section class="text-gray-600 px-10 body-font overflow-hidden bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container px-5  pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-2/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">Saggezza</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">List Services (09/2019 - Present)</h1>
                <ul class="leading-relaxed list-disc dark:text-gray-100">
                    <li>
                        List Services is a Web and Console application based on ASP .Net Core to facilitate Upload large files and Console Application used to process those files.
                    </li>
                    <li>
                        Followed TDD methodology & SOLID principles in the development of the application.
                    </li>
                    <li>
                        Followed MVC Pattern & an object-oriented(OOJS) approach in the front-end using JQuery.
                    </li>
                    <li>
                        Technology used :- ASP .Net Core, C#, Microsoft SQL Server, JQuery, Html, CSS, MVC Architecture along with TDD and SOLID principles.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 px-10 body-font overflow-hidden bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-2/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">Saggezza</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">Quantum (05/2019 - 08/2019)</h1>
                <ul class="leading-relaxed list-disc dark:text-gray-100">
                    <li>
                        Quantum is a Web application, used to process the billing and generates the report.
                    </li>
                    <li>
                        Worked on the design and development of the application adhering to SOLID principles.
                    </li>
                    <li>
                        Technology used :- ASP .Net, C# ,Microsoft SQL Server, JQuery, Html, CSS, MVC Architecture along with TDD and SOLID principles
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 px-10 body-font overflow-hidden bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="lg:w-2/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">Saggezza</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">International (01/2019 - 04/2019)</h1>
                <ul class="leading-relaxed list-disc dark:text-gray-100">
                    <li>
                        International Project is a web application which is for create label and for track parcel.
                    </li>
                    <li>
                        Technology Used :- ASP .net, SQL Server, Javascript, Html, CSS, MVC Architecture along with TDD and SOLID principles.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900" id="section4">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 dark:text-gray-100 font-medium text-gray-900 section-heading">Skills</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
            </p>
        </div>
    </div>
</section>
<section class="text-gray-600 px-10 body-font bg-white dark:text-gray-400 dark:bg-gray-900">
    <div class="container lg:w-100 lg:px-48 pb-24 mx-auto">

        @foreach (var skill in skills)
        {
            <span class="relative inline-flex rounded-md shadow-sm">
                <span class="inline-flex items-center px-2 py-1 mt-1 text-base leading-6
                        font-medium rounded-md text-white bg-gray-500 transition ease-in-out duration-150">
                    @skill
                </span>
            </span>
        }
    </div>
</section>
<section class="text-gray-600 body-font bg-white dark:text-gray-400 dark:bg-gray-900" id="section5">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 dark:text-gray-100 font-medium text-gray-900 section-heading">Achievements</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
            </p>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 px-10 body-font overflow-hidden bg-white ">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="shadow-2xl rounded-xl lg:w-2/2 w-full px-6 py-6 mt-6 lg:mt-0 hover:shadow-lg">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">Saggezza</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">Minimum Viable Product (2019)</h1>
                <span class="leading-relaxed list-disc dark:text-gray-100">
                    Won second prize in Minimum Viable Product (MVP) Event by Saggezza (2019)
                </span>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 px-10 body-font overflow-hidden bg-white">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="shadow-2xl rounded-xl lg:w-2/2 w-full px-6 py-6 mt-6 lg:mt-0 hover:shadow-lg">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">GeeksForGeeks</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">Technical Scripter (2019)</h1>
                <span class="leading-relaxed list-disc dark:text-gray-100">
                    Winner in online "Technical Scripter" Event by GeeksForGeeks (2019)
                </span>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 px-10 body-font overflow-hidden bg-white ">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="shadow-2xl rounded-xl lg:w-2/2 w-full px-6 py-6 mt-6 lg:mt-0 hover:shadow-lg">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">MNNIT Allahabad</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">CULRAV (2017)</h1>
                <span class="leading-relaxed list-disc dark:text-gray-100">
                    Won first prize in SPANDAN organized in "CULRAV 2017" held at MNNIT Allahabad (2017)
                </span>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 px-10 body-font overflow-hidden bg-white ">
    <div class="container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="shadow-2xl rounded-xl lg:w-2/2 w-full px-6 py-6 mt-6 lg:mt-0 hover:shadow-lg">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">Code Chef</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">Snackdown (2017)</h1>
                <span class="leading-relaxed list-disc dark:text-gray-100">
                    Participated in Code Chef's Annual Multi Round Programming Competition "Snackdown" (2017)
                </span>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 px-10 body-font overflow-hidden bg-white ">
    <div class=" container px-5 pt-0 pb-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="shadow-2xl rounded-xl lg:w-2/2 w-full px-6 py-6 mt-6 lg:mt-0 hover:shadow-lg">
                <h2 class="text-sm title-font text-gray-500 dark:text-gray-100 tracking-widest">SIGMATECH INFO PVT. LTD.</h2>
                <h1 class="text-gray-900 text-3xl title-font dark:text-gray-300 font-medium mb-1">PHP workshop (2016)</h1>
                <span class="leading-relaxed list-disc dark:text-gray-100">
                    Completed PHP workshop from SIGMATECH INFO PVT. LTD. (2016)
                </span>
            </div>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 body-font bg-white " id="section5">
    <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
        <div class="text-left lg:w-3/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 dark:text-gray-100 font-medium text-gray-900 section-heading">Education</h1>
            <p class="mb-8 leading-relaxed dark:text-gray-300">
            </p>
        </div>
    </div>
</section>
<section class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 body-font overflow-hidden">
    <div class="container px-5 pb-24 mx-auto">
        <div class="-my-8 divide-y-2 divide-gray-100 dark:divide-gray-800">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
                <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                    <span class="font-semibold title-font text-gray-700 dark:text-white">CATEGORY</span>
                    <span class="mt-1 text-gray-500 text-sm">12 Jun 2019</span>
                </div>
                <div class="md:flex-grow">
                    <h2 class="text-2xl font-medium text-gray-900 dark:text-white title-font mb-2">Bitters hashtag waistcoat fashion axe chia unicorn</h2>
                    <p class="leading-relaxed">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid hoodie portland craft beer.</p>
                </div>
            </div>
        </div>
    </div>
</section>