@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Devanshu Agarwal - Software Engineer Full Stack Developer.
          Currently working as Software Engineer at Saggezza, Chennai.
          I developed interest in Development such as Web Development,
          Software Development. With time I developed more interest in algorithmic programming.
          I enjoy solving Problem in the field of data structures and algorithms and intrigued by it's application in the field of software programming and quantitative finance.
          I love to help people who want to get started with career in Computer Science in all fields.
          I have learned a lot from my seniors and hope to the do the same for juniors as well. I want to make things that make a difference :)">
    <meta name="keywords" content="devanshu, agarwal, geeksforgeeks, profile, portfolio
           mnnit allahabad, linkedin, saggezza, geeksforgeeks, .net">
    <meta name="author" content="Devanshu Agarwal">
    <meta property="og:image" content="/lib/images/da-icon.png" />
    <link rel="da icon" href="/lib/images/da-icon.png" type="image/x-icon" />
    <link async rel="stylesheet" href="~/tailwindcss/base.min.css"  asp-append-version="true">
    <link async rel="stylesheet" href="~/tailwindcss/components.min.css"  asp-append-version="true">
    <link async rel="stylesheet" href="~/css/site.css"  asp-append-version="true" />
    <link async rel="stylesheet" href="~/tailwindcss/tailwind.min.css"  asp-append-version="true">
    <link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"  asp-append-version="true"/>
    <link async rel="stylesheet" href="~/tailwindcss/tailwind-dark.min.css"  asp-append-version="true">
    <link async rel="stylesheet" href="~/tailwindcss/tailwind-experimental.min.css"  asp-append-version="true">
    <link async rel="stylesheet" href="~/tailwindcss/utilities.min.css"  asp-append-version="true">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center dark:text-gray-300 text-gray-900 mb-4 md:mb-0">
                <span class="ml-3 text-xl">Devanshu Agarwal</span>
            </a>
            <nav class="my-nav md:ml-auto flex  flex-wrap items-center text-base justify-center">
                <a href="#section1" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">About</a>
                <a href="#section2" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Experience</a>
                <a href="#section3" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Projects</a>
                <a href="#section4" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Skills</a>
                <a href="#section5" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Achievements</a>
                <a href="#section6" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Education</a>
                <a href="#section7" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Contact</a>
                <a href="#section8" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Articles</a>
                <a href="#section9" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Resume</a>
                <button class="mode"></button>
            </nav>
        </div>
    </header>
    <div class="frame-root">
        <div class="frame-content">
            @RenderBody()
        </div>
    </div>
    <footer class="dark:text-gray-400 dark:bg-gray-900 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center dark:text-white">
                <span class="ml-3 text-xl">Devanshu Agarwal</span>
            </a>
            <p class="text-sm dark:text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
                © 2021 Made By Devanshu Agarwal
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-400"><svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24"><path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path></svg></a><a class="ml-3 text-gray-400"><svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24"><path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path></svg></a><a class="ml-3 text-gray-400"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path></svg></a><a class="ml-3 text-gray-400"><svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24"><path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path><circle cx="4" cy="4" r="2" stroke="none"></circle></svg></a>
            </span>
        </div>
    </footer>


    <script async src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script async src="~/js/particles.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
