@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Devanshu Agarwal - Software Engineer Full Stack Developer.
          Currently working as Software Engineer at Saggezza, Chennai.
          I developed interest in Development such as Web Development,
          Software Development. With time I developed more interest in algorithmic programming.
          I enjoy solving Problem in the field of data structures and algorithms and intrigued by it's application in the field of software programming and quantitative finance.
          I love to help people who want to get started with career in Computer Science in all fields.
          I have learned a lot from my seniors and hope to the do the same for juniors as well. I want to make things that make a difference :)">
    <meta name="keywords" content="devanshu, agarwal, portfolio, devanshu agarwal geeksforgeeks, profile,
          the great man, mnnit allahabad, devanshu agarwal linkedin, the king, dev, Dev, Agarwal, agarwal saab,
          saggezza, geeksforgeeks, devanshu youtube, deva, engineer, software deva, deva softwares, deva chennai, devanshu agarwal .net, devanshuagarwal .net,
          .net, C#, SignalR">
    <meta name="author" content="Devanshu Agarwal">
    <link rel="da icon" href="/lib/images/da-icon.png" type="image/x-icon" />
    <title>@ViewData["Title"]</title>
    <link async rel="stylesheet" href="~/tailwindcss/base.min.css">
    <link async rel="stylesheet" href="~/tailwindcss/components.min.css">
    <link async rel="stylesheet" href="~/tailwindcss/tailwind-dark.min.css">
    <link async rel="stylesheet" href="~/tailwindcss/tailwind-experimental.min.css">
    <link async rel="stylesheet" href="~/tailwindcss/tailwind.min.css">
    <link async rel="stylesheet" href="~/tailwindcss/utilities.min.css">
    <link async rel="stylesheet" href="~/css/site.css" />
    <link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header class="text-gray-600 dark:text-gray-400 dark:bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center dark:text-gray-300 text-gray-900 mb-4 md:mb-0">
                <span class="ml-3 text-xl">Devanshu Agarwal</span>
            </a>
            <nav class="my-nav md:ml-auto flex  flex-wrap items-center text-base justify-center">
                <a href="#section1" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">About</a>
                <a href="#section2" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Experience</a>
                <a href="#section3" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Projects</a>
                <a href="#section4" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Skills</a>
                <a href="#section5" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Achievements</a>
                <a class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Education</a>
                <a class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Contact</a>
                <a class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Blog</a>
                <a class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-400">Resume</a>
                <button class="mode"></button>
            </nav>
        </div>
    </header>
    <div class="frame-root">
        <div class="frame-content">
            @RenderBody()
        </div>
    </div>

    <script async src="~/lib/jquery/dist/jquery.min.js"></script>
    <script async src="https://tailblocks.cc/static/js/main.d253fc29.chunk.js"></script>
    <script async src="https://tailblocks.cc/static/js/2.34fbc5a9.chunk.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
